<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Cameron Eldridge">
        <meta name="description" content="An online version of the board game Tokaido">
        <meta name="keywords" content="tokaido,game,boardgame,board,japan,travel,東海道,east,sea,road,journey,edo,tokyo,kyoto">
        <title>東海道 - Tokaido</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <%- include ./html/notification.html %>
        <%- include ./html/cards.html %>
        <%- include ./html/title.html %>
        <%- include ./html/rules.html.ejs %>
        <%- include ./html/board.html %>
        <script src="script/tokaido.js"></script>
    </body>
</html>
